{% extends 'layouts.html' %} 

{% block content %}
    {% for project in projects %}
          <div class="card text-center my-4">
            <div class="card-header">
                <h3>{{ project.title }}</h3>
            </div>
            <div class="card-body">
                <p>{{ project.description }}</p>
                <p>{{ project.created }}</p>
            </div>
            <div class="card-footer text-muted">
                <a href="{% url 'portfolio:project_details' project.id %}" class="btn btn-primary">Ver ...</a>
            </div>

          </div>
    {% endfor %}
{% endblock %}